<% include partials/header %>
<a href="./blogs/new">add new post</a>
<h1>blogs</h1>
<%blogs.forEach(function(blog){%>
    <div style="border: black 5px">
        <h2><%=blog.title%></h2>
        <!-- <h2><%=blog.image%></h2> -->
        <p><%=blog.body%></p>
        <p><%=blog.created%></p>
        <a href='/blogs/<%=blog._id%>'>read more</a>
    </div>
    
<%})%>
<% include partials/footer %>