<% include partials/header %>
<div class="BlogHeader">BLOGS</div>
<%blogs.forEach(function(blog){%>
   
        <div class="row" >
                <div class="blogBody col-lg-8 col-md-8 col-sm-8 col-xm-8 offset-lg-2 offset-md-2 offset-sm-2">
                    <div class="row justify-content-center title">
                            
                                    <%=blog.title%>
                           
                    </div>
                       
                        <!-- <h2><%=blog.image%></h2> -->
                        <p>
                            <%=blog.body.substring(0,200)%><a href='/blogs/<%=blog._id%>'>read more</a>
                        </p>
                        <div class="date"><%=blog.Date%></div>
                        <!-- <p><%=blog.created%></p> -->
                
                    </div>
        </div>
        
  
    
    
<%})%>
<% include partials/footer %>